:root {
	--background: #eeeeee;
	--foreground: #444444;
	--muted: #777777;
	/* --primary: #30a0a0; */
	--primary: #aa1111;
	--primary-darker: #aa0000;
}

body {
	font-family: "Merriweather", serif;
	background: var(--background);
	color: var(--foreground);
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	margin: 40px auto;
	padding: 1rem;
}

figure {
	margin-inline: 0;
}

header {
	margin-bottom: 1rem;
	border-bottom: 1px solid #222;
}

footer {
	border-top: 1px solid #222;
	margin-top: 1rem;
}

a {
	color: var(--primary);
	text-decoration: none;
}

a:visited {
	color: var(--primary-darker);
	text-decoration: none;
}

h1,
h2,
h3 {
	line-height: 1.2
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote {
	background: #e0e0e0;
	border-left: 7px solid #bbb;
	padding: .5em 1.5em .5em 1.5em;
	margin: 0;
}

blockquote figcaption {
	position: relative;
}

pre {
	padding: .5em;
}

.blog-title {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;
}

.blog-title>h1 {
	margin-bottom: 5px;
}

.blog-list-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.blog-subtitle {
	color: var(--muted);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.polaroid {
	background: #fafafa;
	box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.3);
	padding: 1rem;
	text-align: center;
	font-style: italic;
}
